<button class="btn btn-primary btn-block" data-bind="click: wizard">Tram Wizard</button>
<table class="table table-bordered table-hover">
    <tr>
        <th></th>
        <th>Left</th>
        <th>Right</th>
    </tr>
    <tr>
        <th>Back</th>
        <td id="traminator-back-left" data-traminator-location="3" data-bind="click: probe">-</td>
        <td id="traminator-back-right" data-traminator-location="2" data-bind="click: probe">-</td>
    </tr>
    <tr>
        <th>Front</th>
        <td data-traminator-coord="35,30">Datum (0mm)</td>
        <td id="traminator-front-right" data-traminator-location="1" data-bind="click: probe">-</td>
    </tr>
</table>